body{
    margin: 0;
    font-weight: 400;
	font-family: Roboto;
	background-color: #fff;
}

textarea {
  resize: none;
}

.movecenter{
    text-align: center;
}


#how-to{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 12%;
    padding-right: 12%;
}

#textinput{
    text-align: center;
}
