{% extends "layout.html" %}

{% block head %}
    <title>Speed Reader</title>
{% endblock %}

{% block body %}
    <br><br>
    <h1 class="movecenter">Online Speed Reading Tool</h1>
    <br><br>
    <div id="how-to" class="alert alert-primary" role="alert">
        <h5>How it works: </h5>
        <ol>
            <li><b>Copy</b> the text you want to read</li>
            <li><b>Paste</b> the text in the box below</li>
            <li><b>Select</b> your desired speed</li>
            <li><b>Press</b> "Start"</li>
        </ol>
    </div>
    <br><br>

    <div id="textinput">
        <textarea name="Text" id="usertext" cols="120" rows="10">Paste or type your text here</textarea>
        <br>
        <button id="btnstart" onclick="textrun()" class="btn btn-primary">Start</button>
        <button id="btnend" onclick="textpause()" class="btn btn-primary">Pause</button>
        <button id="btnreset" onclick="textreset()" class="btn btn-primary">Reset</button>
        <br><br><label for="Speed">Words per minute: </label><input type="text" id="Speed" maxlength="4" size="4" value="250">

        <br><br><br>

        <div id="how-to" class="alert alert-primary" role="alert">
            <h2 id="interval-text">Text</h2>
        </div>

        <br><br><br><br>
    </div>



{% endblock %}